.panel.panel-info
  .panel-heading
    | Tune the game
  .panel-body
    dl
      dt.text-left
        | Adjacent circle algorithm:
      dd
        .radio-inline
          label
            input#optionsRadios1(type='radio', name='optionsRadios', value='option1' checked)
            | &nbsp;Linear
        .radio-inline
          label
            input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
            | &nbsp;Zigzag

