.panel.panel-info
  .panel-heading
    | #{__('Tune the game')}
  .panel-body
    dl
      dt.text-left
        | #{__('Adjacent circle algorithm:')}
      dd
        .radio-inline
          label
            input#optionsRadios1(type='radio', name='optionsRadios', value='option1' checked)
            | &nbsp;#{__('Linear')}
        .radio-inline
          label
            input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
            | &nbsp;#{__('Zigzag')}

