.panel.panel-success
   .panel-heading
      | #{__('Best players of the week')}
   table.table.table-condensed.text-left
      tr.best
         th(scope='row')
            | 1
         td
            | BigBoss
      tr
         th(scope='row')
            | 2
         td
            | The Dev
      tr
         th(scope='row')
            | 3
         td
            | NodeJS

