body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #212121;
}

h1 {
	font-weight: 200;
}

h1 img {
	width: 2em;
}

/*
.wrapper {
   display: table;
   padding: 0;
   width: 100%;
   height: 100%;
   position: absolute;
}

.container {
   display: table-cell;
   vertical-align: middle;
}

.canvas-container {
   position: relative;
   width: 512px;
   height: 512px;
   margin: 0 auto;
   border-width: 1px;
   border-style: solid;
   border-color: #000000;
}
*/
